<!--  Top Fixed Navigation bar  -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar" ></span>
        <span class="icon-bar" ></span>
        <span class="icon-bar" ></span>
      </button>
      <a href="/hbs/city" class="navbar-brand">iLoveMyCity!</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/hbs/city/berlin">Berlin</a></li>
        <li><a href="/hbs/city/paris">Paris</a></li>
        <li><a href="/hbs/city/madrid">Madrid</a></li>
        <li><a href="/hbs/city/london">London</a></li>
        <li><a href="/hbs/city/newyork">New York</a></li>
      </ul>
    </div>
 </div>
</div>
<!--  Complete Top Fixed Navigation bar -->
